body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  /* max-width: 960px;
  margin: auto; */
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px; */
}

.hero,
.footer {
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
}
.logo{
  font-size: 24px;
  color: #f9faf8;
}

.custom.li {
  display: flex;
  gap: 8px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.content-wrap {
  max-width: 960px;
  padding: 8px;
}

.hero-img {
  max-width: 600px;
}
.hero-flex {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  gap: 32px;
  padding: 36px 0px;
}
